/*11) Give a maximum width to the body and center it in the page*/
    *{ box-sizing: border-box;   
         margin: 0;     
         padding: 0;    
        font-size: 62.5%;    
        ont-family: "Nova Square", cursive;  
     }
body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/*12) Set every h1 to be centered*/
h1 {
  text-align: center;
}

/*13) Change the color of each link in the page*/
a {
  color: black;
  text-decoration: none;
}

/*14) Create a class with a border*/
.myClass {
  border: 1px solid blues;
}

/*15) Set table to have rounded corners*/
table {
  width: 80%;
  border: 2px solid green;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0px;
  margin: 0 auto;
}

/*16) Add margin between every paragraph*/
p {
  margin: 5px;
}

/*17) Create a class which change font size and boldness*/
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

/*18) Create a class to hide a content*/
.hideme {
  visibility: hidden;
}

/*19) Add a green border to each td*/
th {
  text-align: center;
  padding: 5px 4px 6px 4px;
  vertical-align: top;
  border: 1px solid green;
}

/*20) Add a dotted red border to each tr (note: tr does not accept a border property ;-)*/
td {
  padding: 5px 4px 6px 4px;
  vertical-align: top;
  border-top: 1px dotted red;
  border-bottom: 1px dotted red;
  border-right: 1px solid green;
  border-left: 1px solid green;
}

img {
  width: 200px;
  height: 200px;
}
footer {
  width: 100%;
  background-color: #3b444b;
  padding: 10px;
}

.info {
  text-align: center;
  color: white;
}
